/* ================== Google Fonts ================== */

/* ================== Variable CSS ================== */

:root{
    --header-height: 3rem;
    /* ======= Colors ======= */
    /* Color mode HSL(hue, saturation, lightness) */
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --title-color-dark: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue), var(--sat), 46%);
    --body-color: hsl(var(--hue), var(--sat), 98%);
    --container-color: #fff;

    /* ========= Font and typography ========== */
    --body-font: "Poppins", sans-serif;

    /* .5rem = 8px | 1rem = 16px ... */
}